{% extends 'base.html.twig' %}

{% block title %}
   {{ parent()}} | Profil de {{ app.user.username }}
{% endblock %}

{% block body %}
        <div class="container">
        <div class="row">
            <div class="col">
                {# TODO: asset('image de profil') #}
                <img src="#" class="img-thumbnail" alt="Image de profil">
            </div>
            <div class="col">
                <h1> Modifier mot de passe</h1>
                <h2> {{ app.user.username }} </h2>
                <br>
                <form method="post">
                    <div class="mb-3">
                        <label for="password" class="form-label">Mot de passe</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="mb-3">
                        <label for="password2" class="form-label">Confirmation</label>
                        <input type="password" class="form-control" id="password2" name="password2">
                    </div>
                    <button type="submit" class="btn btn-warning">Enregistrer</button>
                </form>
                <a href="javascript:history.back()">
                    <button type="button" class="btn btn-primary">Retour</button>
                </a>
            </div>
            <div class="col">

            </div>
        </div>
{% endblock %}